.deployment-table{
  width: 100%;
  min-width: 880px;
  max-height: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.table-header{
  width: 100%;
  height:50px;
  border-bottom: 2px solid #e0e0e0;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: left;
}

.table-header span{
  color:#252f6a;
  font-size: 10px;
  font-weight: 500;
}

.cell {
  text-align: left;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 50px;
}

.name{
  @extend .cell;
  width: 24%;
  padding-left: 15px;
}

.status{
  @extend .cell;
  width: 15%;
}

.date-created{
  @extend .cell;
  width: 15%;
}

.model-name{
  @extend .cell;
  width: 24%;
}

.model-author{
  @extend .cell;
  width: 11%;
}

.model-runtime{
  @extend .cell;
  width: 11%;
}

.table-row {
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  height:50px;
  text-align: left;
  color:#777677;
  font-size: 12px;
  font-weight: 300;
}

.enableRow {
  @extend .table-row;
  cursor: pointer;
}

.enableRow:hover {
  border-left: 6px solid #f06a5d;
  font-weight: 500;
}

.enableRow:hover .enabledRowName {
  color: #F06A5D;
}

.disableRow {
  @extend .table-row;
  color: #c5c5c5;
  cursor: not-allowed;
}

.enabledRowName {
  @extend .name;
  color:#252f6a;
  font-weight: 600;
}
