body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
    color: #5A6872;
    font-size: 21px;
}

.topnavdark, .topnavgreen {
    color: #ffffff;
    overflow: hidden;
}

.topnavdark {
    background-color: #0F355B;
    position: fixed;
    width: 100%;
}

.topnavdark a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 19px 40px 19px 40px;
    text-decoration: none;
    font-size: 18px;
    
}

#logoimg {
    height: 60px; 
    padding: 14px 5px 8px 40px;
    text-align: center;
    margin: 0 auto;
}

.topnavgreen {
    background-color: #15BCC3; 
    overflow: hidden;
    color: #ffffff;
}

.topnavgreen a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 75px 20px 15px 40px;
    text-decoration: none;
    font-size: 26px;
}

.topnavpath {
    background-color: transparent;
    overflow: hidden;
    color: #15BCC3;
    border: 2px solid #bcc4cb;
}

.topnavpath a{
    float: left;
    color: #15BCC3; 
    text-align: center;
    padding: 5px 0px 5px 40px;
    text-decoration: none;
    font-size: 18px;
}

#topnavpathtext {
    float: left;
    color: #5A6872; 
    text-align: center;
    padding: 5px 0px 0px 5px;
    text-decoration: none;
    font-size: 18px;
}

#avatar-button{
    float: right;
    outline: none;
    color: #ffffff; 
    text-align: center;
    background-color: transparent;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 52%;
    margin: 18px 5px 15px 20px;
    padding-top: 2px;
    width: 30px;
}

#user-welcome{
    float: right;
    padding-left: 0px;
    background: transparent;
    color: white;
    border: none;
    margin: 18px 20px 10px 0px;
    outline: none;
}

#model-button{
    float: right;
    background: transparent;
    color: white;
    border: none;
    margin: 18px 20px 10px 10px;
    outline: none;
}

#logout-button {
    float: right;
    padding: 0px 20px;
    background: transparent;
    color: white;
    border: 2px solid #ffffff;
    margin: 16px 20px 10px 20px;
    outline: none;
}

#user-welcome, #logout-button, #model-button{
    font-size: 18px;
}

#sidebar, #sidebar-models {
    list-style-type: none;
    position: fixed;
    right: 0px;
    top: 65px;
    height: 800px;
    bottom: 50px;
    background-color: #f9f9f9;
    width: 400px;
    color: #0F355B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar-models{
    height: 300px;
    width: 600px;
}

#sidebar-details {
    float: right;
    display: block;
    margin: 25px 50px 0px 0px;
}

#cust-name{
    font-size: 18px;
    margin: 0;
}

#sidebar-input a, input, select {
    margin-left: 25px;
    font-size: 17px;
}

#sidebar-input a {
    font-weight: normal;
}

#sidebar li, #sidebar-models li{
    margin-left: -20px;
    width: 100%;
}

#sidebar-models li {
    margin-top: 20px;
}

#sidebar hr, #sidebar-models hr {
    margin-left: -30px;
    margin-right: 10px;
    padding-top: 5px;
}

#sidebar-input input, #sidebar-models input {
    margin-bottom: 10px;
    outline: none;
}

#sidebar-input select, #sidebar-models select {
    margin-bottom: 10px;
    border: none;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    text-align: left;

    background-image: url("arrow.svg");
    background-size: 20px;
    background-position: right center;
    background-repeat: no-repeat; 
    font-weight: lighter;
    color: #0F355B;

    outline: none;
    
}

#sidebar-input select:focus, #sidebar-models select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.sidebar-text, .sidebar-number {
    background: transparent; 
    border:none; 
    border-bottom: 1px solid #bcc4cb; 
    font-weight: lighter;
    color: #0F355B;
}

.sidebar-number {
    width: 40%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#sidebar-cancel, #sidebar-save, #sidebar-model-save, #sidebar-model-cancel {
    float: right;
    margin-right: 15px;
    width: 75px;
    border: none;
    outline: none;
}

#sidebar-model-save, #sidebar-model-cancel {
    margin-top: 40px;
}

#sidebar-cancel, #sidebar-model-cancel {
    color: #15BCC3; 
    background-color: transparent;
}

#sidebar-save, #sidebar-model-save {
    color: #f9f9f9;
    background-color: #15BCC3;
}

#sidebar-delete{
    color: #15BCC3; 
    background-color: transparent;
    float: left;
    margin: 3px 0 0 -5px;
    width: 140px;
    border: none;
    outline: none;
    font-size: 18px;
}

#sidebar-image-delete{
    height: 17px;
    border: none;
    outline: none;
    float: left;
    margin: 9px 0 0 -25px;
}

#sidebar-avatar {
    height: 55px;
    width: 55px;
    margin: 20px 10px 8px 35px;
    border: 2px solid #0F355B;
    border-radius: 50%;
    padding-top: 8px;
}

#nlu-input, #area-input {
    width: 530px;
    margin: 15px 0 10px 20px;
}

#gender-input {
    width: 85px;
}

#status-input {
    width: 85px;
}

#owner-input {
    width: 55px;
}

#active-input {
    width: 85px;
}

.containerbox {
    padding: 5px 30px;
}

.header1, .header2, .header3{
    padding: 0px 0px; margin: 0 auto
}

.header1 {
    font-size: 40px; 
    font-weight: bold; 
}

.header2 {
    font-size: 30px;
}

.header3 {
    font-size: 20px;
}

.faceimg {
    height: 60px; 
    padding: 0px 50px 0px 15px;
    margin: 20px 0px;
}

#send-button {
    border: none; 
    color: #fdffff; 
    width: 100px; 
    height: 40px;
    float: right; 
    margin-top: 20px; 
    margin-right: 0px
}

#user-text {
    width: 100%; 
    resize: none;
}

.response-icon-face {
    height: 50px;
    position: absolute;
}

.response-icon-quote {
    height: 45px;
    position: absolute;
    margin-left: 3px;
}

#question {
    display: block;
}

#response {
    display: none; 
    width: 50%;
}

#user-comment, #feedback-title {
    padding: 0px 0px 0px 75px;
}

#feedback-title {
    font-weight: bold;
}

#feedback-comment {
    padding: 10px 0px 0px 75px;
}

#coupon {
    display: none;
}

#response-hr {
    margin-top: 30px;
}

.containerrecent, .containertable {
    background-color: #f9f9f9;
}
.containerrecent {
    padding: 10px 25px; 
    margin: 20px 0px 0px 0px;
}

.containertable {
    overflow: hidden;
    margin: 4px 0px 20px 0;
    padding: 10px 15px;
    color: #8c9ba4;
}

.containertable td {
    float: unset;
    text-align: left;
    padding: 10px 10px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
}


.value {
    padding-right: 150px;
    font-weight: bold;
    color: #43525a;
}

.inputvalue {
    background-color: transparent; 
    border: none; 
    outline: none;  
    font-weight: bold; 
    color: #43525a; 
    max-width: 100px;
}

.container-fluid {
    padding-right: 0; 
    padding-left: 0;
}

#send-button:disabled{
    background-color: #d2d4db;
}

#send-button:enabled{
    background-color: #00bcc3; 
}

#error-message {
    display: none;
    margin-top: 70px; 
    color: rgb(211, 39, 16);
}

footer {
    padding: 0px 0px 0px 0px;  
    margin-top: 100px;
    width: 100%;
    color: #ffffff; 
    height: 60px;
    overflow: hidden; 
    bottom: 0;
    background-color: #0F355B;
    /* position: fixed; */
}

footer a{
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    font-size: 18px;
    float: left;
}

.footerright {
    color: #00bcc3;
    float: right;

    padding-left: 0px;
}

