.alertList {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.alertList > .alertBox:first-of-type {
  margin-top: 4rem;
}

.alertBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid #efc100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  padding: 1rem;
  margin-top: 1.5rem;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.details {
  font-size: 16px;
}
